body .cart--main{
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	padding: 0;
}

div.cart--slide{
	position: fixed;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	width: 20%;
	height: auto;
	z-index: 9988;
	box-shadow: 2px 0 5px #4a4a4a;
	top: 70px;
	left: 119px;
}
div.cart--slide:before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: -19px;
	left: 0;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
}

/* Header styling */
.cart--main .cart--header{
	margin: 10px 0; /* Add padding 10px from the top and the bottom */
	width: 100%;
	height: 45px;
	background-color: #fff;
}
.cart--main .cart--header .cart--burger{
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  position: relative;
  /*line-height: 45px;*/
/*  
  top: 50%;
  transform: translateY(-50%);*/
  height: 45px;
  width: 3.25rem;
  margin-left: auto;
  /*padding: 0 10px;*/
  padding-right: 10px;
  z-index: 9999;
}
.cart--main .cart--header .cart--burger div{
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cart--main .cart--header .cart--burger div:nth-child(2){
  width: 50%;
}
.cart--main .cart--header .cart--burger div:last-child{
  width: 25%;
  transition: width ease-in .5s;
}
.cart--main .cart--header .cart--burger:hover div{
	background-color: #0ea5c6;
}
.cart--main .cart--header .cart--burger:hover div:nth-child(1),
.cart--main .cart--header .cart--burger:hover div:nth-child(2),
.cart--main .cart--header .cart--burger:hover div:last-child{
	width: 80%;
}
.pushed .cart--burger {
    margin: -3.2em 0 0 0.7em;
}
.pushed div:nth-child(1){
	width: 80%!important;
	background-color: #e5e5e5;
	opacity: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.pushed div:last-child{
	width: 80%!important;
	background-color: #e5e5e5;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.cart--main .cart--header button{
	border: 0 solid transparent;
	background-color: transparent;
	background: transparent;
	outline: none;
	line-height: 30px;
}
.cart--main .cart--header .cart--navigation ul{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 13px;
}
.cart--main .cart--header .cart--navigation li{
	margin: 0 10px;
}
.cart--main .cart--header .cart--navigation li button{
	background: transparent;
	background-color: transparent;
	outline: none;
	border: 0 solid transparent;
}
.cart--main .cart--header .cart--navigation li:last-child{
	margin-right: 0;
}

/*hero styling*/
.cart--main .cart--hero{
	width: 100%;
	background: #a0edf7;
	position: relative;
}
.cart--main .cart--hero .banner{
	width: 80%;
}
.cart--main .cart--hero .cart--hero--text{
	padding: 50px 0; 
}
.cart--main .cart--hero .cart--hero--text .cart--heading h1{
	font-size: 6em;
	font-weight: bold;
	line-height: 1em;
}
.cart--main .cart--hero .cart--hero--text .cart--heading h1:last-child{
	margin-bottom: 20px;
}
.cart--main .cart--hero .cart--hero--image{
	width: 100%;
	position: relative;
	bottom: 27px;
}
.cart--main .cart--hero .cart--hero--image img{
	position: absolute;
	top: 105px;
	/*bottom: 0;*/
}
.cart--main .cart--hero .cart--hero--link{
	margin-top: 20px;
}
.cart--main .cart--hero .cart--hero--link a{
	font-size: 13px;
	font-weight: bold;
	color: #1c4650;
}

/*process*/
.cart--main .cart--process table{
	margin: 22px 0;
}
.cart--main .cart--process table h1{
	font-size: 1.5em;
	font-weight: 600;
}
.cart--main .cart--process table p{
	font-size: 12px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}