body .cart--main{
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	padding: 0;
}
/* Header styling */
.cart--main .cart--header{
	margin: 10px 0; /* Add padding 10px from the top and the bottom */
	width: 100%;
	height: 45px;
}
.cart--main .cart--header .cart--burger{
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  position: relative;
  top: 7px;
  line-height: 45px;
  /*height: 3.25rem;*/
  position: relative;
  width: 3.25rem;
  margin-left: auto;
  padding: 0 10px;
}
.cart--main .cart--header .cart--burger div{
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}
.cart--main .cart--header .cart--burger div:nth-child(2){
  width: 50%;
}
.cart--main .cart--header .cart--burger div:last-child{
  width: 25%;
}
.cart--main .cart--header button{
	border: 0 solid transparent;
	background-color: transparent;
	background: transparent;
	outline: none;
	line-height: 45px;
}
.cart--main .cart--header .cart--navigation ul{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 13px;
}
.cart--main .cart--header .cart--navigation li{
	margin: 0 10px;
	line-height: 45px;
}
.cart--main .cart--header .cart--navigation li button{
	background: transparent;
	background-color: transparent;
	outline: none;
	border: 0 solid transparent;
}
.cart--main .cart--header .cart--navigation li:last-child{
	margin-right: 0;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}